 <!-- section -->
 <section class="bg-primary-200 d-flex justify-center align-center  py-24">
    <h4 class="h5-md me-24 me-md-16">加入會員取得 9 折優惠</h4>
    <button type="button" class="btn btn-dark">馬上註冊</button>
</section>
<!-- footer -->
<footer class="bg-neutral-100">
    <div class="container py-64 py-md-32 align-center">
        <ul class="d-flex justify-space-between align-center d-sm-block mb-24">
            <li><a href="index.html" class="logo mb-md-8">
                <img src="../assets/images/Logo for Week 1 Training.svg" alt="logo">
            </a></li>
            <ul class="d-flex d-sm-block px-md-12">
                <li>
                    <a href="products.html" class="py-12 me-40 mb-md-4 mr-md-0">商品列表</a>
                </li>
                <li>
                    <a href="story.html" class="py-12">品牌故事</a></li>
                </ul>
            </ul>
            <div class="pt-32 border-top text-align-center text-neutral-600">
                <p class="mb-4">Copyright ©2025 URBNSTYLE</p>
                <p>All Rights Reserved.</p>
            </div>
    </div>
</footer>