.category .active{
    color: $primary-400;
}

.page-item .btn{
    font-weight: 400;
}

.page-item .active{
    font-weight: 500;
    background-color: $primary-300;
}

/* product-img */   
.product-row{
    display: flex;
    flex-wrap:wrap ;
    margin: 0 -4px;
}

.product-col{
    width: calc(100%/12 * 6);
    padding:0 4px;
}

@media screen and (max-width:576px){
    .product-row{
        margin: 0 -12px;
    }
    .product-col{
        width: calc(100%/12*12);
    padding:0;

    }
}

/* product-info */
.del-price{
    font-size: 14px;
    font-weight: 400;
    padding-left: 8px;
    color: $neutral-500;
}

/* product-color */
.product-color{
    width: 64px;
    /* height: 64px; */
    text-align: center;
    color: $neutral-600;

}
.product-color img{
    height: 64px;
}
/* product-size */
.btn-product-size{
    border: 1px solid $neutral-300;
    width: 160px;
}

.btn-product-size.active,
.btn-product-size:hover{
    border: 1px solid $neutral-900;
    
}
/* product-action */
.product-action{
    display: flex;
    gap: 8px;
}

.product-action .btn{
    width: 50%;
}

@media screen and (max-width:767px) {
    .product-action .btn{
        width: 100%;
    }
}

.product-action .bi{
    padding-right: 8px;
}

@media screen and (max-width:576px) {
    .product-action .btn-icon .bi{
        padding-right: 0px;
        border: $neutral-0;
    }

    .product-action .btn-icon i{
        font-size: 24px;
    }
}

/* product-info */
.product-info-item{
    border-bottom: 1px solid $neutral-300;
}
.product-info-title{
    line-height: 1.5;
    font-weight: 500;
}
.product-info-item p{
    color: $neutral-600;
}